@import "tailwindcss";
  .winkyRough {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .lobster-two-regular-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
  }/* In your global CSS or tailwind config */
.translate-dropdown {
  margin-left: 1rem;
}
